* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    background: #ebddd9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    width: 100%;
    padding: 10vw;
    text-align: left;
    max-width: 1200px;
    margin: auto;
  }
  
  .container{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  h1 {
    font-size: 3vw;
    text-transform: uppercase;
  }
  @media (max-width: 768px) {
    h1 {
      font-size: 2rem;
      text-align: center;
    }
  }
  
  input {
    margin: 1em;
    display: inline-flex;
    width: 200px;
    background: none;
    padding: 1rem;
    border: 1px solid #222;
    outline: none;
   -moz-animation: none;
    -webkit-appearance: none;
  }
  
  button {
    display: inline-flex;
    background: #222;
    width: 100px;
    justify-content: center;
    -moz-appearance: none;
    -webkit-appearance: none;
    color: #f7f7f7;
    padding: 1rem;
    border: 0;
    border-radius: 10px;
    font-weight: 500;
    transition: 2s;
    cursor: pointer;
  }
  
  textarea {
    margin: 1em;
    display: inline-flex;
    width: 200px;
    background: none;
    padding: 1rem;
    border: 1px solid #222;
    outline: none;
    -moz-appearance: none;
    -webkit-appearance: none;
  }
  
  .success {
    background: #0d8b79;
    transition: 0.3s;
  }